# eval $(guix shell node@18 --search-paths)

# Set container runner {podman,docker,nerdctl}
export RUNNER=podman

# CONFIGURATION VARIABLES
export APITO_BACKEND_VERSION="$(cat .version)"

# load .env
[[ -f $PWD/.env ]] && eval $(cat .env | sed 's/^/export /')
